<div class="container">
    <!-- <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Produit en tapant</label>
        <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
        </div>
        </form> 
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label>Nom Produit en tapant</label>
            <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
            </div>
            </form>-->
            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2 mt-2 ">
                <label>Nom Produit en tapant</label>
                <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control" >
                </div>
                </form>
        
            
        <div class="card shadow mb-4">                    
          <div class="card-body">  
            <table class="table table-striped">
              <thead>
              <tr> <th>Id</th><th>Nom</th> <th>Prix</th> <th>Date Création</th><th>Marque</th> </tr> 
            </thead>                              
                    <tbody *ngFor="let voiture of voitures | searchFilter: searchTerm "> 
                      <tr >
                        <td>{{voiture.idVoiture}}</td>
                        <td>{{voiture.nomVoiture}}</td>
                        <td>{{voiture.prixVoiture}}</td>
                        <td>{{voiture.dateCreation | date:'dd/MM/yyyy'}}</td>
                        <td>{{voiture.marque.nomMar}}</td>
                 <!---   <td><a class="btn btn-danger" (click)="supprimerVoiture(voiture)">Supprimer</a></td>
                     <td><a class="btn btn-success" [routerLink]="['/updateVoiture',voiture.idVoiture]">Modifier</a></td>-->
                        </tr>
                      </tbody>
        
          </table> 
          </div> 
        </div> 
</div>
