<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
        <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
            <app-update-marque
            [marque]="updateMarque"
            (marqueUpdated)= "marqueUpdated($event)"
            [ajout]="ajout" >
            </app-update-marque>
            
            </div>
    <table class="table table-striped">
    <thead>
    <tr> <th>Id</th><th>Marque </th> </tr>
    </thead>
    <tbody >
    <tr *ngFor="let mar of marques">
    <td>{{mar.idMar}}</td>
    <td>{{mar.nomMar}}</td>
    <td><a class="btn btn-success" (click)="UpdateMar(mar)">Editer</a></td>

    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
